<link rel="stylesheet" href="~/css/Footer.css">

<body>

    <!-- Diğer içerikler -->

    <footer class="footer text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Sağlık Kontrol</h5>
                    <p>Sağlığınız bizim önceliğimiz. Güvenilir sağlık bilgileri ve hizmetleri sunuyoruz.</p>
                </div>
                <div class="col-md-4">
                    <h5>Bağlantılar</h5>
                    <ul class="list-unstyled">
                        <li><a href="/Home/HomePage" class="text-white">Anasayfa</a></li>
                        <li><a href="/Home/OurServices" class="text-white">Hizmetler</a></li>
                        <li><a href="/Home/Contact" class="text-white">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Bize Ulaşın</h5>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i> Adres: İstanbul, Türkiye</li>
                        <li><i class="fa fa-phone"></i> Telefon: +90 123 456 7890</li>
                        <li><i class="fa fa-envelope"></i> Email: info@saglikkontrol.com</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <p>&copy; 2024 Sağlık Kontrol. Tüm hakları saklıdır.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>