@model DiabetWebSite.Models.ViewModels.ChangePasswordViewModel
@await Html.PartialAsync("_navbar")

@{
    ViewData["Title"] = "Parola Güncelle";
}

<link rel="stylesheet" href="~/css/ChangePassword.css">

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-lock-fill mr-2"></i> Parola Güncelle
                    </h5>

                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }

                    <form method="post" asp-action="ChangePassword">
                        <div class="form-group text-left">
                            <label for="currentPassword">
                                <i class="bi bi-key mr-2"></i> Mevcut Parola
                            </label>
                            <input type="password" class="form-control" id="currentPassword" asp-for="OldPassword"
                                placeholder="Mevcut parolanızı girin">
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group text-left">
                            <label for="newPassword">
                                <i class="bi bi-unlock-fill mr-2"></i> Yeni Parola
                            </label>
                            <input type="password" class="form-control" id="newPassword" asp-for="NewPassword"
                                placeholder="Yeni parolanızı girin">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group text-left">
                            <label for="confirmPassword">
                                <i class="bi bi-repeat mr-2"></i> Yeni Parola (Tekrar)
                            </label>
                            <input type="password" class="form-control" id="confirmPassword" asp-for="ConfirmPassword"
                                placeholder="Yeni parolanızı tekrar girin">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="custom-button btn-block">
                            <i class="bi bi-save mr-2"></i> Güncelle
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_footer")

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var errorMessage = document.querySelector(".alert.alert-danger");
        var customCard = document.querySelector(".card.custom-card");

        if (errorMessage) {
            customCard.classList.add("expanded");
        }
    });
</script>