@{
    ViewData["Title"] = "Egzersizler";
}

@await Html.PartialAsync("_navbar")
<link rel="stylesheet" href="~/css/ExercisesPage.css">

<div class="container exercises-library">
    <center>
        <h3 class="card-title">Egzersiz Kütüphanesi</h3>
    </center>
    @* <div class="row">
    <div class="col-lg-6 mb-4">
    <div class="card custom-card">
    <div class="card-body">
    <h5 class="card-title">Isınma Hareketleri </h5>
    <p class="card-text"> Kasları ve eklemleri aktif hale getirerek vücudu antrenman öncesinde
    hazırlayan, sakatlanma riskini azaltan ve performansı artıran hafif aktiviteler.</p>
    <div class="video-container">
    <iframe width="560" height="315"
    src="https://www.youtube.com/embed/bOxkisEVC8A?si=8q4YAjXoaa1QCnam"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 mb-4">
    <div class="card custom-card">
    <div class="card-body">
    <h5 class="card-title">Soğuma Hareketleri</h5>
    <p class="card-text">Antrenman sonrası vücudu yavaşça dinlendiren ve kasların rahatlamasını
    sağlayan, genellikle düşük yoğunluklu hareketler ve germe egzersizleri.</p>
    <div class="video-container">
    <iframe width="560" height="315"
    src="https://www.youtube.com/embed/825hm09MPGE?si=VMSCuvxg_LI3WggT"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 mb-4">
    <div class="card custom-card">
    <div class="card-body">
    <h5 class="card-title">Güne Fit Başlamak İçin SABAH RUTİNİ</h5>
    <p class="card-text">"Güne fit başlamak için sabah rutinim, bir bardak su ile başlamak, kısa bir
    yoga veya esneme yapmak, kardiyo veya yürüyüşle metabolizmayı hızlandırmak ve protein-lif
    açısından zengin bir kahvaltı ile tamamlanmaktan oluşuyor. Bu rutin, gün boyunca enerjik ve
    zinde kalmama yardımcı oluyor."</p>
    <div class="video-container">
    <iframe width="560" height="315"
    src="https://www.youtube.com/embed/2qpybq3Lj4k?si=NHbYSmuEt4sg5Z2O"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 mb-4">
    <div class="card custom-card">
    <div class="card-body">
    <h5 class="card-title">Evde 5000 ADIM At YAĞ YAK</h5>
    <p class="card-text">"Evde 5000 adım atarak yağ yakmak, günlük hareketliliği artırmanın etkili
    ve basit bir yoludur. Düzenli olarak attığınız adımlar, metabolizmanızı hızlandırarak kalori
    yakmanıza yardımcı olur. Üstelik bu egzersizi evde yaparak zamandan tasarruf edebilir,
    sağlıklı bir yaşam için önemli bir adım atabilirsiniz.</p>
    <div class="video-container">
    <iframe width="560" height="315"
    src="https://www.youtube.com/embed/smBR7p-1tck?si=W51CmPuDQeavJG01"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </div>
    </div>
    </div>

    </div> *@
    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title">Isınma Hareketleri</h5>
                    <p class="card-text">Kasları ve eklemleri aktif hale getirerek vücudu antrenman öncesinde
                        hazırlayan, sakatlanma riskini azaltan ve performansı artıran hafif aktiviteler.</p>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/bOxkisEVC8A?si=8q4YAjXoaa1QCnam"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title">Soğuma Hareketleri</h5>
                    <p class="card-text">Antrenman sonrası vücudu yavaşça dinlendiren ve kasların rahatlamasını
                        sağlayan, genellikle düşük yoğunluklu hareketler ve germe egzersizleri.</p>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/825hm09MPGE?si=VMSCuvxg_LI3WggT"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title">Güne Fit Başlamak İçin Sabah Rutini</h5>
                    <p class="card-text">"Güne fit başlamak için sabah bir bardak su içip, kısa bir yoga veya esneme
                        yaparak metabolizmayı hızlandırıyor ve protein-lif açısından zengin bir kahvaltı ile
                        tamamlıyorum. Bu
                        rutin gün boyu enerjik kalmamı sağlıyor."</p>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/2qpybq3Lj4k?si=NHbYSmuEt4sg5Z2O"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title">Evde 5000 Adım At Yağ Yak</h5>
                    <p class="card-text">"Evde 5000 adım atmak, metabolizmayı hızlandırıp kalori yakmanın basit ve
                        etkili bir yoludur. Bu egzersizi evde yaparak hem zamandan tasarruf edebilir hem de sağlıklı bir
                        yaşam için önemli bir adım atabilirsiniz."</p>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/smBR7p-1tck?si=W51CmPuDQeavJG01"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*!Egzersiz Bilgileri Bölümü *@
    <div class="container exercises-info">
        <center>
            <h4>Egzersiz Yapma Rehberi</h4>
        </center>

        <section class="exercise-time">
            <h5>Egzersiz ne zaman yapılmalıdır?</h5>
            <p>Egzersiz yapmak için en uygun zaman, yemek yedikten sonraki 1-2 saattir. Böylece yiyeceklerle birlikte
                kana geçen şeker vücut tarafından kolaylıkla kullanılır ve kan şekeri düzeylerinin kontrolünü sağlar.
            </p>
        </section>

        <section class="exercise-frequency">
            <h5>Egzersiz hangi sıklıkta yapılmalıdır?</h5>
            <ul>
                <li>En uygunu egzersizin her gün düzenli olarak yapılmasıdır (Eğer kilo vermeyi hedefliyorsanız her gün
                    düzenli yürüyüş yapınız).</li>
                <li>Bu mümkün değilse, haftada en az 3-4 kez egzersiz yapılmalıdır.</li>
                <li>Egzersizin haftanın 3 günü üst üste yerine haftaya yayılması önerilir.</li>
                <li>Eğer araba kullanıyorsanız gideceğiniz yere daha uzak bir yere park ederek veya toplu taşıma
                    kullanıyorsanız gideceğiniz yerden birkaç durak önce inerek yürüyüş sürenizi artırabilirsiniz.</li>
            </ul>
        </section>

        <section class="exercise-type">
            <h5>Yapılacak egzersizin türü ne olmalıdır?</h5>
            <ul>
                <li>Vücudunuzun belirli bir bölgesini çalıştırmaya yönelik egzersizler yerine tüm vücudunuzu çalıştıran
                    egzersiz tipleri (yürümek, koşmak, yüzmek, ip atlamak gibi) tercih edilmelidir.</li>
                <li>Egzersiz türü genel olarak aerobik ve anaerobik olarak ikiye ayrılır.</li>
                <li>Aerobik egzersiz; büyük kas gruplarının tekrar eden ve devam eden hareketinden oluşan yürümek,
                    bisiklet sürmek, koşmak ve yüzmek gibi egzersizlerdir.</li>
                <li>Anaerobik egzersiz; serbest ağırlık ve ağırlık cihazlarının, vücut ağırlığının ya da elastik direnç
                    bantlarının kullanıldığı ağırlık kaldırma, zıplama gibi hareketlerden oluşan egzersizlerdir.</li>
                <li>Egzersiz programı mutlaka 5 dakika ısınma, 5-10 dakika gerdirme, 20-30 dakika fiziksel aktivite ve 5
                    dakikalık soğuma kısımlarını kapsamalıdır.</li>
            </ul>
        </section>

        <section class="pre-exercise">
            <h5>Egzersize başlamadan önce nelere dikkat edilmelidir?</h5>
            <ul>
                <li>Kişisel sağlık durumunuza ve yaşınıza uygun egzersizler seçilmelidir. Egzersize başlamadan önce
                    yapmayı planladığınız egzersiz çeşidi ve süresi ile ilişkili olarak mutlaka doktorunuza danışmanızı
                    tavsiye ederiz.</li>
                <li>Bazı egzersiz türleri, belirli sağlık koşulları olan kişiler için uygun olmayabilir.</li>
                <li>Farkına varmadığınız bir kalp-damar veya böbrek hastalığı, sürekli ve ağır bir egzersiz programı
                    esnasında sorun çıkartabilir.</li>
            </ul>
        </section>

        <section class="during-exercise">
            <h5>Egzersiz yaparken neye dikkat edilmelidir?</h5>
            <ul>
                <li>Egzersize yavaşça başlanmalıdır. Aşırı zorlama, kaslarda daha fazla stres oluşturmasına ve
                    sakatlanma riskinin artmasına neden olabilir.</li>
                <li>Egzersiz yaparken aşırı zorlanma ve ağrı hissettiğinizde, egzersizleri hafifletmeniz veya tamamen
                    bırakmanız önerilir.</li>
                <li>Egzersiz sırasında ve sonrasında vücut su kaybeder, bu nedenle egzersiz sırasında ve sonrasında bol
                    miktarda su içmek vücudu hidrate etmek için çok önemlidir.</li>
            </ul>
        </section>

        <section class="exercise-duration">
            <h5>Yapılacak egzersizin süresi ne kadar olmalıdır?</h5>
            <ul>
                <li>Egzersizin süresini kendiniz belirlemelisiniz. Egzersiz sizi yormamalı ve kendinizi dinç hissedecek
                    biçimde düzenlemelisiniz.</li>
                <li>Kısa süren (1-5) dakikalık egzersizde kaslar glukozu kullanmaz. Bu nedenle egzersiz programına 5
                    dakika ile başlanmalı ve giderek süresi artırılmalıdır.</li>
                <li>Egzersizin etkili olabilmesi için 20-30 dakika boyunca yapılması önerilir, süresi giderek
                    artırılarak bir saate kadar çıkarılabilir.</li>
            </ul>
        </section>

        <section class="increase-activity">
            <h5>Fiziksel aktivitenizi artırmak için neler yapmalısınız?</h5>
            <ul>
                <li>Asansör kullanmak yerine merdiven kullanın.</li>
                <li>Arabanızı gideceğiniz yerden uzak bir yere park ederek yürüyün.</li>
                <li>Yürüyerek gidebileceğiniz mesafelere toplu taşıma veya araba kullanmayın.</li>
                <li>Alışverişinizi size en yakın olan yerden yapmak yerine daha uzak olanından yapmayı tercih edin.</li>
                <li>Alışveriş merkezlerinde yürüyen merdiven yerine merdiven basamaklarını kullanın.</li>
                <li>Otobüse bir durak sonra binerek veya otobüsten bir durak önce inerek yürüyüş sürenizi uzatın.</li>
                <li>Haftanın 3-4 günü düzenli olarak yürümek için egzersiz planı yapın.</li>
            </ul>
        </section>

        <p><strong>UNUTMAYINIZ!</strong> Sağlıklı bir hayat için kaslarınızı ve zihninizi birlikte çalıştırmalısınız.
        </p>
    </div>

</div>

@await Html.PartialAsync("_footer")
