@{
    ViewData["Title"] = "Hoş Geldiniz";
}

<link rel="stylesheet" href="~/css/Index.css">
<div class="promotion">
    <h3>Hoş Geldiniz!</h3><br>
    <p>Sağlığınızı kontrol altına almak ve daha iyi bir yaşam için adım atmaya hazır mısınız?<br>"Sağlık Kontrol"
        olarak,
        sağlığınızın her yönünü göz önünde bulundurarak size en iyi hizmeti sunmayı hedefliyoruz.
    <p>
        Sağlık yolculuğunuzda yanınızda olmak için buradayız. Hemen şimdi başlayın ve sağlığınızı kontrol altına alın!
    </p>
    </p>
</div>
</div><br><br>
<div class="container">
    <a href="~/Home/Login" class="fancy-button">Hadi Başlayalım</a>
</div>