.card.custom-card {
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px;
}

.card.custom-card.expanded {
    height: 620px;
}

.card.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.card.custom-card .card-body {
    padding: 20px;
}

.card.custom-card .card-title {
    font-size: 1.4em;
    color: #ce4d02;
    margin-bottom: 20px;
    text-align: center;
}

.card.custom-card .card-text {
    font-size: 1em;
    color: #001a4c;
}

.custom-button {
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ce4d02;
    background-color: transparent;
    border: 2px solid #ce4d02;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.6s, color 0.6s;
    margin-top: 20px;
}

.custom-button:hover {
    background-color: #ce4d02;
    color: #fff;
}

.custom-button:focus {
    outline: none;
    border-color: rgba(206, 77, 2, 0.8);
    box-shadow: 0 0 0 0.2rem rgba(206, 77, 2, 0.5);
}

.custom-button:active {
    background-color: rgba(206, 77, 2, 0.8);
    border-color: rgba(206, 77, 2, 0.8);
}

.bi {
    font-size: 1.5rem;
    /* Simgenin boyutunu büyütmek için */
    vertical-align: middle;
    /* Simgenin metinle aynı hizada olmasını sağlamak için */
    margin-right: 0.5rem;
    /* Simge ve metin arasına boşluk eklemek için */
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body .form-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #002d7f;
    border-radius: 40px;
    transition: border-color 0.3s ease;
    height: 50px;
}

.card-body .form-group input:focus {
    border-color: #ce4d02;
    outline: none;
}

.alert {
    padding: 10px;
    /* Varsayılan padding'i azalt */
    font-size: 0.9em;
    /* Font boyutunu küçült */
    margin-top: 10px;
    /* Üstteki boşluğu azalt */
}

.card-body .form-group {
    margin-bottom: 10px;
    /* Form gruplarının arasındaki boşluğu azalt */
}