.card.custom-card {
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    /* Kart yüksekliğini artırdık */
    width: 100%;
    /* Kartların genişliğini artırdık */
    max-width: 100%;
    /* Maksimum genişliği %100 yaptık */
}

.card.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.card.custom-card .card-body {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.custom-card .card-title {
    font-size: 1.6em;
    color: #ce4d02;
    margin-bottom: 10px;
}

.card.custom-card .card-text {
    font-size: 1em;
    color: #001a4c;
}

.card.custom-card .video-container {
    margin-top: 20px;
}

.category-title {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #ce4d02;
}

.card.custom-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #002d7f, #ce4d02);
}

.card-title {
    color: #ce4d02;
}

.custom-button {
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: #002d7f;
    background-color: transparent;
    border: 2px solid #002d7f;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.6s, color 0.6s;
    margin-top: 20px;
}

.custom-button:hover {
    background-color: #002d7f;
    color: #fff;
}

.custom-button:focus {
    outline: none;
    border-color: #002d7f;
    box-shadow: 0 0 0 0.2rem #002d7f;
}

.custom-button:active {
    background-color: #002d7f;
    border-color: #002d7f;
}

.container h3 {
    margin: 50px 0;
}

.exercises-info {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border-top: 2px solid #ce4d02;
}

.exercises-info h4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ce4d02;
}

.exercises-info section {
    margin-bottom: 20px;
}

.exercises-info h5 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ce4d02;
}

.exercises-info p,
.exercises-info ul {
    font-size: 16px;
    line-height: 1.6;
}

.exercises-info ul {
    list-style-type: disc;
    margin-left: 20px;
}

.exercises-info ul li {
    margin-bottom: 10px;
    color: #001a4c;
}

.exercises-info strong {
    color: #dc3545;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-lg-3 {
    flex: 1;
    max-width: 25%;
    padding: 0 15px;
    /* Ekle: Her kart arasındaki boşluğu ayarlamak için */
}

.card.custom-card {
    margin-bottom: 20px;
}

.video-container iframe {
    width: 100%;
    height: auto;
}